<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit chats</title>
</head>
<body>
    <h2>Edit your chat</h2>
    <p>This chat was send from <%= chat.from %> to <%= chat.to %></p>
    <form action="/chats/<%= chat._id %>?_method=PUT" method="POST" >
        <textarea name="msg" cols="10" rows="5" ><%= chat.msg %></textarea>
        <button>Edit</button>
    </form>
</body>
</html>