<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create a new post</title>
</head>
<body>
    <h1>To Create a new Post</h1>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="enter user name">
        <textarea name="content" id="" placeholder="write your post" ></textarea>
        <button>submit</button>
    </form>
</body>
</html>